body {
    background-image: url("../images/bg.png");
    color: #333;
    background-color: #fff;
    font-family: "Lato", sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    color: #43b6b1;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

p {
    color: #999 !important;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    text-align: left;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

#preloader {
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 9999;
}

#spinner {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    background: url(../images/spinner.gif) no-repeat;
}

.wrapper {
    display: block;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    margin: -266px auto 0 auto;
}

.profile {
    float: right;
    height: 525px;
    background-color: #43B6B1;
}

.profile p {
    color: #b1e2df !important;
    font-size: 12px;
}

.profile-pic {
    height: 150px;
    width: 150px;
    margin: 15px auto;
    position: relative;
}

.profile-info {
    color: #b1e2df;
    text-align: center;
    padding-bottom: 15px;
}

.profile-info h4 {
    font-size: 15px;
    margin-top: 0;
}

.profile-info h6 {
    font-size: 14px;
}

.profile-desc {
    color: #b1e2df;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #b1e2df;
    border-top: 1px solid #b1e2df;
}

.college {
    color: #b1e2df;
    text-decoration: underline;
}

.profile-social {
    color: #b1e2df;
    padding-top: 15px;
    text-align: center;
}

.profile-social h6 {
    font-size: 14px;
}

.profile-social a {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 5px;
    color: #fff;
    background-color: #43b6b1;
    border: 1px solid #fff;
    font-size: 24px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.profile-social a:hover {
    color: #43B6B1;
    border-color: #43b6b1;
    background-color: #fff;
}

.head-img {
    background-color: #fff;
    border: 10px solid #66c6c2;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

.circle {
    border-radius: 50%;
    margin: 1em auto;
}

.main {
    padding: 0;
}

.main-content {
    background-color: #43B6B1;
}

.tab-list {
    width: 9%;
    float: left;
    padding: 0;
}

.tab-list li {
    padding: 18px !important;
    background-color: #43B6B1;
    font-size: 13px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
    text-align: center;
    list-style: none;
    display: block;
    float: left;
    position: relative;
}

.tab-list li.active {
    background-color: #fff;
}

.tab-list li:hover {
    background: #fff;
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
}

.tab-li-title {
    display: none;
}

.tab-icon {
    color: #43B6B1;
    background-color: #fff;
    width: 42px !important;
    height: 42px !important;
    line-height: 43px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
}

li.active .tab-icon,
li:hover .tab-icon {
    color: #FFF;
    background-color: #43B6B1;
}

.mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #43b6b1;
}

.mCS-dark-2.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #43b6b1;
}

.mCSB_container {
    padding: 15px;
}

.tab-content {
    display: none;
    height: 525px;
}

.tab-content.active {
    display: block;
}

.cycle-slideshow {
    height: 456px;
    width: 348px;
    margin: 20px auto;
}

.tab-content .tab-title {
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 10px;
    color: #43b6b1 !important;
    border-bottom: 1px solid #e6e6e6;
    font-size: 26px;
}

.title_content {
    color: #fff;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}

.title_content::after {
    content: " ";
    display: block;
    height: 1px;
    left: 0;
    position: relative;
    top: 1px;
    width: 30px;
    background-color: #43b6b1;
}

.text_content {
    color: #43b6b1;
    margin: 10px 0 5px;
    padding-top: 2px;
    text-transform: uppercase;
}

.about {
    margin-bottom: 30px;
    padding: 0;
}

.about li {
    color: #43b6b1;
    border-bottom: 1px solid #e6e6e6;
    margin: 3px 0 0;
    padding: 0;
    display: block;
    font-size: 13px;
    list-style: none;
}

.about i.glyphicon {
    margin-right: 3px;
}

.about li span.value {
    color: #717171;
    width: 180px;
    text-align: left;
    float: right;
    font-size: 12px;
}

.skill {
    background-color: #eee;
    height: 22px;
    margin-bottom: 15px;
    position: relative;
}

.skill-title {
    color: #fff;
    position: absolute;
    height: 22px;
    line-height: 22px;
    top: 0;
    left: 0;
    font-size: 11px;
}

.skill-title span {
    height: 22px;
    line-height: 22px;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
}

.skill-bar {
    width: 0;
    height: 22px;
}

.skill-title,
.skill-bar {
    background-color: rgba(67, 182, 177, 0.8);
}

.skill-percent {
    position: absolute;
    right: 10px;
    top: 0;
    height: 22px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 11px;
}

.attributes {
    padding: 0;
}

.attributes li {
    margin-top: 20px;
    list-style: none;
}

.attributes li.first {
    margin-top: 0;
}

.attributes li h5 {
    padding-bottom: 10px;
    border-bottom: 1px solid #43b6b1;
}

.attributes li h6 {
    color: #43b6b1;
    font-size: 13px;
}

.duration {
    color: #43b6b1;
    float: right;
}

.portfolio-container {
    margin: 0 auto;
}

.filters {
    padding: 0;
    margin: 1%;
    display: inline-block;
}

.filters li {
    float: left;
    text-align: center;
    list-style: none;
}

.filters li span {
    color: #fff;
    background-color: #577285;
    margin: 2px;
    padding: 5px 20px;
    cursor: pointer;
    display: block;
}

.filters li span:hover {
    background-color: #43b6b1;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.filters li span.active {
    background-color: #43b6b1;
}

.portfolio {
    float: left;
    width: 31%;
    margin: 1%;
    overflow: hidden;
    position: relative;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.portfolio-wrapper {
    background-color: #666;
    cursor: pointer;
    overflow: hidden;
}

.portfolio img {
    max-width: 100%;
}

.portfolio .label {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: -40px;
    display: block !important;
}

.portfolio .label-text {
    color: #fff;
    position: relative;
    z-index: 500;
    padding: 5px 8px;
    font-weight: 300;
}

.portfolio .text-title {
    color: #fff;
    font-size: 13px;
    margin: 1px;
    display: block;
    text-transform: capitalize;
}

.portfolio .label-bg {
    background-color: #43b6b1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.contact-info ul {
    padding: 0;
    list-style: none;
}

.contact-info ul li {
    color: #666;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    width: 267px;
}

.span-info {
    color: #43b6b1;
}

#contactform p{
    margin-bottom: 15px;
}

#contactform p label{
    color: #999;
    display: block;
    font-size: 13px;
    font-weight: 400 !important;
    margin-bottom: 8px;
}

.form-control {
    border-radius: 0 !important;
}

#contactform .send_email,
#contactform .reset{
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    margin-left: 23px;
    padding: 8px;
    width: 120px;
}

#contactform .reset{
    background-color: #999999;
}

#contactform .send_email{
    background-color: #43b6b1;
}


/*--------------------------------------------------
---------------------- resp-tabs -------------------
---------------------------------------------------*/

.icon_menu {
    background-color: #fff !important;
    color: #43B6B1;
    font-size: 22px;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    width: 42px !important;
    height: 42px !important;
    text-align: center;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    line-height: 43px;
}

#verticalTab {
    z-index: 1;
    height: 100%;
    background: #fff;
}

li.tab-list,
p {
    margin: 0;
    padding: 0;
}

.tab-list li {
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.tab-container {
    padding: 0;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 0.32em 0em 0.32em 0.70em;
    margin: 0;
    list-style: none;
    cursor: pointer;
    background: #43B6B1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 0px;
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-tab-active {
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #ccc;
}

h2.resp-accordion {
    font-size: 17px;
    margin: 0;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 1px solid #ccc !important;
    margin-bottom: 0 !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #ccc !important;
    background: blue;
}

.tite-list-resp {
    position: relative;
    top: -3px;
    left: 10px;
}


/*-----------------------------------*/


/*-----------Vertical tabs-----------*/


/*-----------------------------------*/

.resp-vtabs ul.tab-list {
    float: left;
    width: 9%;
    margin-bottom: 10px;
}

.resp-vtabs .tab-list li {
    display: block;
    padding: 14px !important;
    margin: 0;
    cursor: pointer;
    float: left;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.resp-vtabs .tab-list li:first-child {
    border-top: none;
}

.resp-vtabs .tab-list li:last-child {
    border-bottom: none;
}

.resp-vtabs .tab-container {
    padding: 0;
    background-color: #f4f4f4;
    float: left;
    width: 88%;
    height: 525px;
    clear: none;
    margin-left: 13px;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border-right: none;
    color: #fff;
    position: relative;
    z-index: 1;
    padding: 14px !important;
    background: #fff;
}

.tab-list li:hover {
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
    background: #fff;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

.arrow-tabs {
    float: right;
    margin-top: 13px;
    font-size: 12px !important;
}

#contact-user {
    padding: 30px 0;
    overflow: hidden;
}

.contact-info,
.contact-form {
    float: left;
    margin-bottom: 30px;
}

.contact-form {
    width: 100%;
}

.contact-info ul {
    float: left;
    margin-left: 0px;
}

.contact-info ul li {
    font-size: 13px;
    line-height: 20px;
    color: #666;
    overflow: hidden;
    width: 267px;
}

#contactform{
    padding-left: 0;
}

#contactform p{
    margin-bottom: 15px;
}

#contactform p label{
    display: block;
    color: #999;
    margin-bottom: 8px;
    font-size: 13px;
}

#contactform .input{
    line-height: 20px;
    height: 20px;
    width: 60%;
}

#contactform .textarea{
    width: 95%;
}

#contactform .send_email,
#contactform .reset{
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    margin-left: 23px;
}

#contactform .send_email:hover{
    -webkit-filter: brightness(98%) !important;
}

#contactform .reset:hover{
    background-color: #666;
    -webkit-filter: brightness(98%);
}

#contactform .reset{
    background-color: #999999;
    width: 120px;
}

#contactform .input,
.textarea{
    padding: 6px;
    background-color: #f5f5f5;
    border: 1px solid #CCC;
    color: #999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 13px;
}

@media only screen and (max-width: 240px) {
    .about li {
        padding-left: 2px;
        font-size: 9px;
    }
    .tab-content .tab-title {
        font-size: 11px;
    }
    .text_content {
        font-size: 13px;
    }
}

@media only screen and (max-width: 260px) {
    .profile h1 {
        font-size: 25px !important;
        line-height: 39px !important;
    }
    .profile h4 {
        font-size: 13px !important;
    }
    .profile {
        height: 265px !important;
        margin-bottom: 20px;
        float: none;
    }
    .profile-social {
        display: none;
    }
    .profile-desc {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .text_content {
        font-size: 10px;
        padding-top: 0;
        margin-top: 0;
    }
}

@media only screen and (max-width: 384px) {
    #contactform .send_email,
    #contactform .reset{
        margin-left: 0;
    }
    .about li {
        font-size: 11px;
        margin: 0;
    }
    .about li span.value {
        float: none;
    }
    .text_content {
        font-size: 12px;
    }
}

@media only screen and (max-width: 550px) {
    .cycle-slideshow {
        display: none;
    }
    .tab-content .tab-title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 766px) {
    .profile {
        height: 285px !important;
        margin-bottom: 20px;
        float: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    .profile-social {
        display: none;
    }
    .profile-desc {
        display: none;
    }
    .profile h1 {
        font-size: 22px !important;
        line-height: 39px !important;
    }
    .profile h4 {
        font-size: 13px !important;
    }
    .main {
        margin: 0 10px;
    }
    .portfolio {
        width: 48%;
    }
}

@media only screen and (min-width: 766px) and (max-width: 800px) {
    .profile {
        height: 210px !important;
        margin-bottom: 20px;
        float: none;
    }
    .profile-social {
        display: none;
    }
}

@media only screen and (min-width: 800px) and (max-width: 991px) {
    .profile {
        height: 210px !important;
        margin-bottom: 20px;
        float: none;
    }
    .profile-social {
        display: none;
    }
    .profile-desc {
        border-bottom: 0 !important;
    }
}

@media only screen and (max-width: 800px) {
    .wrapper {
        position: relative !important;
        margin: 15px auto !important;
    }
    .resp-vtabs .tab-list {
        display: none;
    }
    h2.resp-accordion {
        display: block;
    }
    .tab-content {
        border: 1px solid #C1C1C1;
        padding: 15px;
    }
    .resp-vtabs .tab-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display: none !important;
    }
    .resp-vtabs .tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
    .resp-vtabs .tab-container {
        margin-left: 0 !important;
    }
    .about li span.value {
        margin-right: 30px;
    }
}

@media screen and (min-width:850px) and (max-width: 1200px) {
    .tab-container {
        width: 89%;
    }
}

@media (max-width: 1200px) {
    .profile h1 {
        font-size: 24px;
        line-height: 30px;
    }
    .about li span.value {
        width: 196px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1030px !important;
    }
    .profile h1 {
        font-size: 24px;
        line-height: 40px;
    }
}
